{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f7725d8db8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static '/css/common.css' %}">
        <link rel="stylesheet" href="{% static '/css/nav.css' %}">
        <link rel="stylesheet" href="{% static '/css/footer.css' %}">
        <link rel="stylesheet" href="{% static '/css/skewed-header.css' %}">
        <link rel="stylesheet" href="{% static '/css/square-grid.css' %}">
        <link rel="stylesheet" href="{% static '/css/helpers.css' %}">
        <link rel="stylesheet" href="{% static '/css/media-queries.css' %}">
    </head>
    <body>
        <div class="skewed-header">
            <div class="header-bg" style="background-image: url('{% static "image/menu-image.jpeg" %}');"></div>

            <div class="skewed-header-wrapper">
                <div class="skewed-header-content">
                    <div class="heading-wrapper">
                        <h1>Menu</h1>
                    </div>

                    <div class="links-wrapper">
                        <div class="navlink-wrapper">
                            <a href="{% url 'index' %}">Home</a>
                        </div>
        
                        <div class="navlink-wrapper">
                            <a href="{% url 'about' %}">About</a>
                        </div>
        
                        <div class="navlink-wrapper">
                            <a href="{% url 'menu' %}">Menu</a>
                        </div>
        
                        <div class="navlink-wrapper">
                            <a href="{% url 'contact' %}">Contact</a>
                        </div>

                        <div class="navlink-wrapper">
                            <a href="{% url 'restaurants' %}">Restaurant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="squares-wrapper">
            <div class="squares">
                <div class="square">
                    <div class="image-wrapper">
                        <img src="{% static "/image/squares1.jpg" %}" alt="Food1">
                    </div>

                    <div class="square-text-wrapper">
                        <a href="#spicy" name="spicy" class="anchor-link">
                            <h1>Spicy</h1>
                        </a>

                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Mollitia, cum itaque autem fuga eius optio omnis.</li>
                            <li>Nam dolore ratione accusamus, dignissimos delectus labore mollitia?</li>
                            <li>Laborum minus dignissimos, modi qui eligendi eveniet reprehenderit.</li>
                        </ul>

                        {% comment %} <div class="recipe-wrapper">
                            <a href="#">
                            <h2>Restaurant</h2>
                        </div> {% endcomment %}
                        
                    </div>
                </div>

                <div class="square">
                    <div class="square-text-wrapper">
                        <a href="#medium" name="medium" class="anchor-link">
                            <h1>Medium</h1>
                        </a>

                        <ol>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Mollitia, cum itaque autem fuga eius optio omnis.</li>
                            <li>Nam dolore ratione accusamus, dignissimos delectus labore mollitia?</li>
                            <li>Laborum minus dignissimos, modi qui eligendi eveniet reprehenderit.</li>
                        </ol>

                        {% comment %} <div class="recipe-wrapper">
                            <a href="#">
                            <h2>Restaurant</h2>
                        </div> {% endcomment %}
                      
                    </div>

                    <div class="image-wrapper">
                        <img src="{% static "/image/squares2.jpg" %}" alt="Food2">
                    </div>
                </div>

                <div class="square">
                    <div class="image-wrapper">
                        <img src="{% static "/image/squares1.jpg" %}" alt="Food1">
                    </div>

                    <div class="square-text-wrapper">
                        <a href="#mild" name="mild" class="anchor-link">
                            <h1>Mild</h1>
                        </a>

                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Mollitia, cum itaque autem fuga eius optio omnis.</li>
                            <li>Nam dolore ratione accusamus, dignissimos delectus labore mollitia?</li>
                            <li>Laborum minus dignissimos, modi qui eligendi eveniet reprehenderit.</li>
                        </ul>

                        {% comment %} <div class="recipe-wrapper">
                            <a href="#">
                            <h2>Restaurant</h2>
                        </div> {% endcomment %}
                        
                    </div>
                </div>

                <div class="square">
                    <div class="square-text-wrapper">
                        <a href="#noflavor" name="noflavor" class="anchor-link">
                            <h1>No Flavor</h1>
                        </a>

                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Mollitia, cum itaque autem fuga eius optio omnis.</li>
                            <li>Nam dolore ratione accusamus, dignissimos delectus labore mollitia?</li>
                            <li>Laborum minus dignissimos, modi qui eligendi eveniet reprehenderit.</li>
                        </ul>

                        {% comment %} <div class="recipe-wrapper">
                            <a href="#">
                            <h2>Restaurant</h2>
                        </div> {% endcomment %}
                        
                    </div>
                    
                    <div class="image-wrapper">
                        <img src="{% static "/image/squares2.jpg" %}" alt="Food2">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="logo-footer">
                <img src="{% static "/image/image-logo.png" %}" alt="Logo">
            </div>

            <div class="footer-phone-hours">
                <span class="phone">
                    584 593 972
                </span>

                <span class="hours">
                    10 am - Midnight
                </span>
            </div>

            <div class="links-wrapper">
                <div class="navlink-wrapper">
                    <a href="{% url 'index' %}">Home</a>
                </div>

                <div class="navlink-wrapper">
                    <a href="{% url 'about' %}">About</a>
                </div>

                <div class="navlink-wrapper">
                    <a href="{% url 'menu' %}">Menu</a>
                </div>

                <div class="navlink-wrapper">
                    <a href="{% url 'contact' %}">Contact</a>
                </div>

                <div class="navlink-wrapper">
                    <a href="{% url 'restaurants' %}">Restaurant</a>
                </div>
            </div>

            <div class="social-media-icons-wrapper">
                <a href="#"></a>
                <i class="fa-brands fa-instagram"></i>

                <a href="#"></a>
                <i class="fa-brands fa-twitter"></i>

                <a href="#"></a>
                <i class="fa-brands fa-facebook"></i>
            </div>

            <div class="copyright-wrapper">
                &copy; 2023 &#124; All rights reserved
            </div>

        </div>
        <script src="" async defer></script>
    </body>
</html>